body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

header, footer {
    background-color: #C7395F;
}

header {
    position: relative;
    z-index: 1;
    grid-row: 1;
    -webkit-box-shadow: 5px 0 10px 1px #aaaaaa;
    box-shadow: 5px 0 10px 1px #aaaaaa;
    width: 200px;
    text-align: center;
}

header > h1 {
    color: #E8BA40;
    text-align: center;
}

footer {
    grid-row: 3;
    text-align: center;
    padding: 40px;
}

#book-section {
    background-color: #DED4E8;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 270px;
    gap: 24px 24px;
    padding: 3rem 3rem;
    justify-items: center;
}

.card {
    background-color: #E8BA40;
    border: 1px solid #E8BA40;
    padding: 24px 24px;
    height: 270px;
    width: 250px;
    -webkit-box-shadow: 6px 3px 15px 1px #aaaaaa;
    box-shadow: 6px 3px 15px 1px #aaaaaa;
    display: grid;
}

.card p {
    margin-top: 0;
    color: #C7395F;
    font-weight: bold;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle > p {
    margin: 0;
}

.delete-book-btn {
    background-color: red;
    color: white;
    width: 60px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-top: 8px;
}

.delete-book-container {
    align-self: end;
    justify-self: right;
}