.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-row: 1;
}

footer {
    grid-row: 3;
}

#book-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 8px;
    padding: 3rem 3rem;
    justify-items: center;
}

.card {
    border: 1px solid lightcoral;
    padding: 32px 24px;
}